#header2{
 background-color: black; 
}

.celdas{
    margin-top: 20px;
    color:rgb(255, 255, 255);
}

#logo{
    margin-right: 900px; 
}

#luna{
background-color: black;
    height: 1000px;
 }

body{
    background-image: url("https://wallpaperaccess.com/full/7959677.jpg");
}

//hola

#contenido{
    background-color: white;
    height: 900px;
}

footer{
    background-color: black;
}

#menusito1{
    color: rgb(214, 214, 214);
}
#menusito2{
    color: rgb(214, 214, 214);
}
#menusito3{
    color: rgb(214, 214, 214);
}
#menusito4{
    color: rgb(214, 214, 214);
}
#menusito5{
    color: rgb(214, 214, 214);
}
#menusito6{
    color: rgb(214, 214, 214);
}
