#header2{
 background-color: black; 
}
.row{
height: 100%;
 width:100%;
 background-color: black;
} 
.celdas{
    margin-top: 20px;
    color:rgb(255, 255, 255);
}

#logo{
    margin-right: 900px; 
}

body{
    background-image: url("https://wallpaperaccess.com/full/7959677.jpg");
}
